*,
*::after,
*::before {
    box-sizing: border-box;
}

@media (width>=850px) {
    main {
        margin: 0 auto;
        max-width: 800px;
    }
    
    .form {
        min-width: 800px;
    }
}



body {
    background-image: url(img/tableau.jpg), linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    color: #ffffff;
    margin: 0;
    font-family: "Special Elite", system-ui;
    background-blend-mode: overlay;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

main{
    padding-top: 60px;
    width: 95%;
    margin: 10px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: #000000;
    padding-right: 10%;
    
}

nav{
margin: 10px;
display: flex;
flex-direction: row;
gap: 30px;
flex-wrap: wrap;
color: #ffffff;

}



nav p{
margin: 0;
margin-right: 50px;
}

.nav{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.bouton {
    background: none;
    border: none;  
    cursor: pointer;
    font-size: 1rem;
    padding: 0; 
    color: #ffffff;
    font-family: "Special Elite", system-ui;
}



.bouton:hover {
    color: #e42024;
    
}

h1 {
    text-align: center;
    font-family: "Anonymous Pro", monospace;
    font-weight: 700;
    font-size: 4rem;

}

h1 span:nth-child(odd) {
    color: #e42024;
}

h1 span:nth-child(even) {
    color: rgb(255, 255, 255);
}

h2 {
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 10;
    color: #e42024;

}

h3 {
    font-family: "Anonymous Pro", monospace;
    margin: 10px;
    font-size: 1.5rem;
    color: #000000;
}

.info {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 20px;
}

.info p {
        margin: 0;
    }

.billet {
    background-color: #5e5d5da2;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #262626;
    border-radius: 10px;
    margin-bottom: 10px;
    
}

.btn {
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    font-family: "Special Elite", system-ui;
}

.btn:hover{
    background-color: #e42024;
    
}


label {
    font-weight: bold;
    color: #ffffff;
    display: block;
    margin-bottom: 8px;
}

input[type="text"],
input[type="password"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    color: #333;
    background-color: #c9c9c9;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
    border-color: #e42024;
    outline: none;
    background-color: #fff;
}

textarea {
    resize: vertical;
}


.datecom{
    display: flex;
    justify-content: flex-end;
}

.affichebi{
    display: flex;
    justify-content: center;
    margin: 30px;
}

.alinea {
    text-indent: 20px;
}

p{
    line-height: 1.5;
}

a{
    color: #ffffff;
}



a:hover {
    color: #e42024;
}


.comments-section {
    display: none; 
     
}